fastapi==0.110.1
uvicorn==0.29.0
pydantic
python-multipart
pillow
transformers==4.30.0
torch==2.2.1
tensorflow==2.12.0
keras
opencv-python
scikit-learn
numpy==1.26.4
requests
python-dotenv
nsfw-detector
